body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.unshow {
    display: none;
}

/* the header*/
#app .header {
    height: 50px;
    background: #F9F9F9;
    vertical-align: middle;
}

#app .header .content {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 50px;
}

#app .header .content .logo {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#app .header .content .welcome {
    margin-left: 10px;
    vertical-align: middle;
}

#more {
    float: right;
    margin-top: 10px;
    position: relative;
}

#more .title {
    float: right;
    margin-top: 5px;
    border: none;
    width: 75px;
    height: 35px;
}

#more .ops {
    z-index: 9999;
    float: right;
    width: 100px;
    margin-top: 5px;
    padding-top: 5px;
    border: #F9F9F9 solid 1px;
    border-radius: 5px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    clear: both;
    position: relative;
    left: -15px;
    top: -5px;
}

#app .header .content .ops button {
    font-size: 12px;
    width: 100px;
    height: 35px;
    border: none;
    background: white;
    text-align: left;
    outline: 0;
}

#app .header .content .ops button:hover {
    background: #4078C0;
    color: white;
}

#app .header .content .ops .bot {
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white;
    position: absolute;
    top: -20px;
    left: 45px;
}

/* the main*/
#app .main {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    position: relative;
}

.stut {
    width: 500px;
    margin-top: 25px;
}

.stut .items {
    border: 1px solid #D8DEE2;
    border-radius: 5px;
    margin-top: 35px;
}

.stut .items p {
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    background-color: #eee;
}

.items .title {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.static {
    font-size: 14px;
    margin-left: 20px;
}

.info .disp, .editing .edit {
    font-size: 14px;
    margin-left: 20px;
}

.info .edit, .editing .disp {
    display: none;
}

#save {
    background-color: #60B044;
    border-radius: 5px;
    color: white;
    border: 1px solid #5CA941;
    margin-top: 20px;
    width: 100px;
    height: 35px;
}

#save :hover {
    background-color: #5CA941;
}

#app .main .pic {
    width: 150px;
    height: 175px;
    position: absolute;
    top: -0px;
    left: 650px;
}

#avatar {
    border: 1px solid #D8DEE2;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
}

#file {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
    top: -0px;
    left: 15px;
    position: absolute;
    opacity: 0;
}

#setPic {
    background-color: #60B044;
    border-radius: 5px;
    color: white;
    border: 1px solid #5CA941;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 125px;
    height: 35px;
}

#setPic :hover {
    background-color: #5CA941;
}

/* the setting view*/
.setting {
    width: 500px;
    margin-top: 25px;
    border: 1px solid #D8DEE2;
    border-radius: 5px;
}

#changepwd {
    padding-bottom: 25px;
}

#changepwd .title {
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    background-color: #eee;
}

#changepwd .item {
    margin-left: 40px;
}

#changepwd input {
    margin-left: 40px;
    width: 400px;
    height: 25px;
}

#code {
    margin-left: 25px;
}

#updatepwd {
    background-color: #60B044;
    border-radius: 5px;
    color: white;
    border: 1px solid #5CA941;
    width: 85px;
    height: 35px;
    margin-left: 40px;
    margin-top: 25px;
}

#updatepwd:hover {
    background-color: #5CA941;
}

#footer {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #9B9B9B;
    clear: both;
}